body{
    background-color: white;
    margin: 0px;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 15px;
    margin-bottom: 25px;

}
.nav-logo{
    width: 150px;
    height: 100px;

}

.imgCard{
    background-color: rgb(229, 144, 70);


    margin-left: 100px;
    margin-right: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgCard-img{
    height: 350px;
    width: 400px;
}

.imgCard-textbox{
    display: flex;
    flex-direction: column;

    padding-left: 50px;
}

.imgCard-textbox-description{
    font-size: 15px;
}


.imgCard-textbox-shop-all-furniture{
    padding-bottom: 10px;

    font-size: 30px;
}



.categories-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    padding-left: 200px;
    padding-right: 200px;
}
.categories-li{
    list-style: none;

    width: 150px;

    padding: 20px;
}
.categories-img{
    width: 175px;
    height: 125px;
}



.products-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 100%;



    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;

    padding-bottom: 20px;
}

.products-li{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 15px;

    width: 150px;
}

.products-name{
    display: flex;
    flex-wrap: wrap;
    word-break:break-all;
}

.single-product-back-to-products{
    padding-left: 100px;
}

.single-product-container{
    display: flex;
    flex-direction: row;

    padding-left: 100px;
    padding-right: 100px;

}
.single-product-info-container{
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding-left: 100px;
}
.single-product-img{
    width: 400px;
}

.single-product-name{
    font-size: 30px;
}
.single-product-short_description{
    text-align: justify;
}
.single-product-add-to-cart{
    width: 100px;
}

.byCateory-title{
    padding-left: 100px;

    display: flex;
    justify-content: center;


    font-family: fantasy;
    font-size: 30px;
}

.by-category-back-to-products{
    padding-left: 100px;
}

.moreinfo-container{
    margin-left: 100px;
    margin-right: 100px;

    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #d9d9d9;
}
.moreinfo-product-description{
    font-size: 20px;
}
.moreinfo-product-description-description{
    text-align: justify;
}
.moreinfo-how-to-care{
    font-size: 20px;
}
.moreinfo-how-to-care-description{
    text-align: justify;
}
.moreinfo-reviews{
    font-size: 20px;
}
.moreinfo-reviews-description{
    text-align: justify;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;

    margin-top: 20px;

    background-color: #d9d9d9;

}

.footer-logo{
    width: 175px;
    height: 150px;

}