body{
    background-color: white;

    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-logo{
    width: 150px;
    height: 100px;
}

.products-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 100%;



    justify-content: space-between;
    padding: 200px;
}

.products-li{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 15px;

    width: 150px;
}

.products-name{
    display: flex;
    flex-wrap: wrap;
    word-break:break-all;
    color: red;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    padding-left: 75px;
    padding-right: 100px;
}

.footer-logo{
    width: 175px;
    height: 150px;
}