.auth-container{
    padding: 200px;
    font-size: 50px;
}

.login-container{
    padding: 200px;
    font-size: 16px;
}
.login-form{
    display: flex;
    flex-direction: column;

}



body{
    background-color: white;
    margin: 0px;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-top: 15px;
    margin-bottom: 25px;

}
.nav-logo{
    width: 150px;
    height: 100px;

}

.imgCard{
    background-color: rgb(229, 144, 70);


    margin-left: 100px;
    margin-right: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgCard-img{
    height: 350px;
    width: 400px;
}

.imgCard-textbox{
    display: flex;
    flex-direction: column;

    padding-left: 50px;
}

.imgCard-textbox-description{
    font-size: 15px;
}


.imgCard-textbox-shop-all-furniture{
    padding-bottom: 10px;

    font-size: 30px;
}



.categories-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    padding-left: 200px;
    padding-right: 200px;
}
.categories-li{
    list-style: none;

    width: 150px;

    padding: 20px;
}
.categories-img{
    width: 175px;
    height: 125px;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 100%;



    justify-content: space-between;
    padding-left: 80x;
    padding-right: 80px;

    padding-bottom: 20px;
}
.products-li{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 15px;

    width: 250px;
}
.products-link{
    text-decoration: none;
    color: black;
}
/* .products-img{
} */
.products-name{
    display: flex;
    flex-wrap: wrap;
    word-break:break-all;

    font-size: 17px;
    font-weight: bold;
}
.products-category{
    font-size:15px;
    font-style: italic;
}
.products-price{
    font-size: 18px;
    font-family: Cursive;
}

.products-pageNumber-container{
    display: flex;
    flex-direction: row;
}
.products-pageNumber-ul{
    margin: 0;
    padding: 0;
}
.products-pageNumber-page{
    padding-right: 5px;

    font-size: 18px;
}
.products-pageNumber-number{
    padding-left: 3px;
    padding-right: 3px;

    text-decoration: none;
    color: black;

    font-size: 20px;
}



.single-product-back-to-products{
    padding-left: 100px;
}

.single-product-container{
    display: flex;
    flex-direction: row;

    padding-left: 100px;
    padding-right: 100px;

}
.single-product-info-container{
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding-left: 100px;
}
.single-product-img{
    width: 400px;
}

.single-product-name{
    font-size: 30px;
}
.single-product-short_description{
    text-align: justify;
}
.single-product-add-to-cart{
    width: 100px;
}

.byCateory-title{
    padding-left: 100px;

    display: flex;
    justify-content: center;


    font-family: fantasy;
    font-size: 30px;
}

.by-category-back-to-products{
    padding-left: 100px;
}

.moreinfo-container{
    margin-left: 100px;
    margin-right: 100px;

    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #d9d9d9;
}
.moreinfo-product-description{
    font-size: 20px;
}
.moreinfo-product-description-description{
    text-align: justify;
}
.moreinfo-how-to-care{
    font-size: 20px;
}
.moreinfo-how-to-care-description{
    text-align: justify;
}
.moreinfo-reviews{
    font-size: 20px;
}
.moreinfo-reviews-description{
    text-align: justify;
}


.cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.cart-items-li{
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: lightgrey solid;
}

.cart-items-img{
    width: 100px;
    height: 75px;
}

.cart-items-count-container{
    display: flex;
    flex-direction: row;
}

.cart-items-count-count{
    padding-left: 15px;
    padding-right: 15px;

}

.cart-summary-container{
    font-size: 18px;
    width: 200px;
    height: 200px;

    border: solid black;
}
.cart-summary-summary{
    font-size: 30px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;

    margin-top: 20px;

    background-color: #d9d9d9;

}

.footer-logo{
    width: 175px;
    height: 150px;

}